body {
    background-color: white;
}

nav {
    background-color:#198754;
    height: 80px;
}

#nav a {
    color: white;
}

.scorecard {
    margin: 0 auto;
    width: 900px;
    font-size: medium;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 15px;
    border-bottom: #cac2c2 1px solid;
}

.holes-row
{
    background-color: black;
    text-align: center;
    color:white;
}

td.triple-bogey-or-worse {
    background-color: #caadc5;
}

td.birdie-or-better {
    background-color: #95ef86;
}

td.par {
    background-color: #fceb9e;
}

td.double-bogey {
    background-color: #ff8f8f;
}


.scorecard-header
{
    text-align: left;
}

.handicap-row
{
    text-align: center;
    background-color: rgb(161, 149, 149);
    color: black;
}

.scorecard-course-name
{
    margin: 0px;
    float: left;
}

.scorecard-course-date
{
    margin: 0px;
    float: right;
}

.handwritten-score
{
    font-family: ink free;
    font-weight: semibold;
}

.resize {
    width: 400px;
    height: auto;
}

.record {
    padding-bottom: 15px;
}

.standings tr:nth-of-type(even) {
    background-color: #f2f2f2;
}

input[type='number'] {
    width: 55px;
    height: 40px;
}

input[type='text'] {
    height: 10px;
}

fieldset {
    margin: 2em 0;
    padding: 1em 2em;
    border: solid 1px;
    border-radius: 6px;
    min-width: 200px;
}

label {
    display: block;
    margin-top: 1em;
}

legend {
    font-size: 1.25em;
    padding: 0.25em;
    color: #999;
}

input {
    padding: .5em;
    border: solid 1px #999
}

