{% extends "layout.html" %}

{% block title %}
Post
{% endblock %}

{% block main %}
<p>This will be the information everyone else will use once the course is uploaded, so please ensure everything is accurate.</p>
<p>Please use the White Tees by default.</p>
<form action="/add_course" method="post">
<div>
    <fieldset style="background-color:antiquewhite">
        <legend>Course Information</legend>
        <label for="course_name">Course Name:</label>
        <input name="course_name" type="text" id="course_name" size="20" style="text-align:center">
        <label for="rating">Rating (I.e. 69.4):</label>
        <input name="rating" type="text" id="rating" size="1" style="text-align:center">
        <label for="slope">Slope (I.e. 127):</label>
        <input name="slope" type="text" id="slope" size="1" style="text-align:center">
        <label for="city">City (I.e. Manchester):</label>
        <input name="city" type="text" id="city" size="15" style="text-align:center">
        <label for="state">State (I.e. CT):</label>
        <input name="state" type="text" id="state" size="1" style="text-align:center">
    
</div>
    <div class="mb-3" id="scorecard">
        <table cellpadding="300" name="golf_table" class="table table-sm table-bordered">
            <!-- Holes -->
            <tr class="holes-row">
                <th class="scorecard-header">Hole</th>
                {% for i in range(9) %}
                <th>{{ i + 1 }}</th>
                {% endfor %}
                <th>OUT</th>
                {% for i in range(9) %}
                <th>{{ i + 10 }}</th>
                {% endfor %}
                <th>IN</th>
                <th>TOT</th>
            </tr>
            <!-- Yardages -->
            <tr>
                <td class="scorecard-header">Yardages</td>
                {% for i in range(21) %}
                <td>
                    <input name="yardages_{{ i }}" type="number" min="1" max="10000">
                </td>
                {% endfor %}
            </tr>
            <!-- Handicaps -->
            <tr class="handicap-row">
                <td class="scorecard-header">Handicap</td>
                {% for i in range(9) %}
                <td>
                    <input name="handicaps_{{ i }}" type="number", min="1" max="18">
                </td>
                {% endfor %}
                <td></td>
                {% for i in range(9) %}
                <td>
                    <input name="handicaps_{{ i + 9 }}" type="number" , min="1" max="18">
                </td>
                {% endfor %}
                <td></td><td></td>
            </tr>
            <!-- Pars -->
            <tr class="holes-row">
                <td class="scorecard-header">Par</td>
                {% for i in range(21) %}
                <td>
                    <input name="pars_{{ i }}" type="number" min="1", max="100">
                </td>
                {% endfor %}
            </tr>
        </table>
    </div>
    <button class="btn btn-success btn-med" type="submit">Add Course</button>
</form>
{% endblock %}