{% extends "layout.html" %}

{% block title %}
    Standings
{% endblock %}

{% block main %}
<div id="content" class="container-sm">
    <table id="myTable" class="table table-bordered table-hover standings">
        <thead class="success">
            <tr style="color:black;background-color:#198754;font-weight:500">
                <td>Standings</td>
                <td onclick="sortTable(0)">Avg Score</td>
                <td>Avg Par</td>
                <td>Best Score</td>
                <td onclick="sortTable(0)">Birdies Per</td>
                <td onclick="sortTable(0)">Pars Per</td>
                <td onclick="sortTable(0)">Bogeys Per</td>
                <td onclick="sortTable(0)">Doubles Per</td>
                <td onclick="sortTable(0)">Triples Per</td>
                <td onclick="sortTable(0)">Maxes Per</td>
                <td onclick="sortTable(0)">Par 3 Avg</td>
                <td onclick="sortTable(0)">Par 4 Avg</td>
                <td onclick="sortTable(0)">Par 5 Avg</td>
                <td onclick="sortTable(0)">Eagle Counter</td>
            </tr>
        </thead>
        {% for golfer in all_golfer_stats %}
            <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/rounds/{{golfer[0]}}';">
            {% for stat in golfer %}
                <td>{{ stat }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}