{% extends "layout.html" %}

{% block title %}
    Standings
{% endblock %}

{% block main %}
<!-- Prints stats for each golfer -->
<div id="content" class="container-sm">
    <table id="myTable" class="table table-bordered table-hover standings">
        <thead class="success">
            <tr style="color:black;background-color:#198754;font-weight:500">
                <td>Golfer</td>
                <td>Rounds</td>
                <td>Avg Score</td>
                <td>Avg Par</td>
                <td>Best Score</td>
                <td>Birdies Per</td>
                <td>Pars Per</td>
                <td>Bogeys Per</td>
                <td>Doubles Per</td>
                <td>Triples Per</td>
                <td>Maxes Per</td>
                <td>Par 3 Avg</td>
                <td>Par 4 Avg</td>
                <td>Par 5 Avg</td>
                <td><img src="static/eagle.png" alt="eagle" width=35 height=35></td>
            </tr>
        </thead>
        {% for golfer in all_golfer_stats %}
            <tr style='cursor: pointer; cursor: hand;' onclick="window.location='/rounds/{{golfer[0]}}';">
            {% for stat in golfer %}
                <td>{{ stat }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
