{% extends "layout.html" %}

{% block title %}
Rounds
{% endblock %}

{% block main %}
<div id="content" class="container-sm"> 
    {% for round in rounds %}
    <div id="scorecard" class="scorecard">
        <p class="scorecard-course-name">{{ round.course_name }}</p>
        <p class="scorecard-course-date">{{ round.round_date }}</p>
        <table class="table table-sm">
            <tr class="holes-row">
                <th class="scorecard-header">Hole</th>
                {% for i in range(9) %}
                    <th>{{ i + 1 }}</th>
                {% endfor %}
                    <th>OUT</th>
                {% for i in range(9) %}
                    <th>{{ i + 10 }}</th>
                {% endfor %}
                    <th>IN</th>
                    <th>TOT</th>
            </tr>
            <tr>
                <td class="scorecard-header">{{ round.yardages[0] }}</td>
                {% for yard in round.yardages[1:] %}
                    <td>{{ yard }}</td>
                {% endfor %}
            </tr>
            <tr class="handicap-row">
                <td class="scorecard-header">Handicap</td>
                {% for handicap in round.handicaps[:9] %} 
                    <td>{{ handicap }}</td>
                {% endfor %}
                    <td></td>
                {% for handicap in round.handicaps[9:] %}
                    <td>{{ handicap }}</td>
                {% endfor %}
                {% for i in range(2) %}
                    <td></td>
                {% endfor %}
            </tr>
            <tr class="handwritten-score">
                <td class="scorecard-header">{{ round.scores[0] }}</td>
                {% for score in round.scores[1:10] %}
                    {% if score - round.pars[loop.index - 1] >= 3 %}
                        <td class="triple-bogey-or-worse">{{ score }}</td>
                    {% elif score - round.pars[loop.index - 1] == 2 %}
                        <td class="double-bogey">{{ score }}</td>
                    {% elif score - round.pars[loop.index - 1] == 0 %}
                        <td class="par">{{ score }}</td>
                    {% elif score - round.pars[loop.index - 1] <= 0 %}
                        <td class="birdie-or-better">{{ score }}</td>
                    {% else %}
                        <td>{{ score }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ round.scores[10] }}</td>
                {% for score in round.scores[11:20] %}
                    {% if score - round.pars[loop.index + 9] >= 3 %}
                        <td class="triple-bogey-or-worse">{{ score }}</td>
                    {% elif score - round.pars[loop.index + 9] == 2 %}
                        <td class="double-bogey">{{ score }}</td>
                    {% elif score - round.pars[loop.index + 9] == 0 %}
                        <td class="par">{{ score }}</td>
                    {% elif score - round.pars[loop.index + 9] <= 0 %}
                        <td class="birdie-or-better">{{ score }}</td>
                    {% else %}
                        <td>{{ score }}</td>
                    {% endif %}
                {% endfor %}
                <td>{{ round.scores[20] }}</td>
                <td>{{ round.scores[21] }}</td>
                    

            </tr>
            <tr>
                <td class="scorecard-header">+/-</td>
                {% for par in round.to_par %}
                    <td class="handwritten-score">{{ par }}</td>
                {% endfor %}
            </tr>
            <tr class="holes-row">
                <td class="scorecard-header">Par</td>
                {% for par in round.pars %}
                    <td>{{ par }}</td>
                {% endfor %}
            </tr>
        </table>
    </div>
    {% endfor %}
</div>
{% endblock %}